<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <script src="underscore.js"></script>
    <script src="jquery.js"></script>
    <script src="backbone.js"></script>
    <style type='text/css'>
      .previous {
        display: none;
      }
    </style>
    <script id="search-area-template" type="text/html">
      <h1>Total Results Found: <%= total %></h1>
      <a class='previous' href='#!/page/<%= parseInt(page) - 1 %>'>Previous page </a>
      <span class='page'>Page: <%= page %> </span>
      <a class='next' href='#!/page/<%= parseInt(page) + 1 %>'>Next page </a>
      <ul>
        <% _(results).each(function(result) { %>
          <li><%= result.name %></li>
        <% }); %>
      </ul>
    </script>
  </head>

  <body>
    <div id="search">
    </div>
  </body>

  <script src="application.js"></script>
</html>
